<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.LogViewer.Examples\packages.config" />
  <repository path="..\src\Orc.LogViewer.Tests\Orc.LogViewer.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.LogViewer.Tests\Orc.LogViewer.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.LogViewer\Orc.LogViewer.NET40\packages.config" />
  <repository path="..\src\Orc.LogViewer\Orc.LogViewer.NET45\packages.config" />
</repositories>